<!DOCTYPE html>

<html>
    <head>
        <title>Restaurant Tipping App</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    
    <body>
        <h1> Restaurant Tipping App </h1>
        <!-- remember to change the action to where I want to post the user input/output -->
        <form method="POST" action="results">
            <p>How much was your dinner? <input name="subtotal" /></p>
            <p>What percentage would you like to tip your waiter? <input name="percent" /></p>
            <p>How many people were in your party? <input name="party" /></p>
            <button type="submit">Let's calculate your bill!...</button>
        </form>
    </body>
</html>

